<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <mapping resource="com/ignis/model/BarMenuAudit.hbm.xml"/>
        <mapping resource="com/ignis/model/EstablishmentAudit.hbm.xml"/>
        <mapping resource="com/ignis/model/KotAudit.hbm.xml"/>
        <mapping resource="com/ignis/model/SessionGroup.hbm.xml"/>
        <mapping resource="com/ignis/model/SysconfigArrAudit.hbm.xml"/>
        <mapping resource="com/ignis/model/SysconfigCustom.hbm.xml"/>
        <mapping resource="com/ignis/model/DiningTable.hbm.xml"/>
        <mapping resource="com/ignis/model/DiningTableAudit.hbm.xml"/>
        <mapping resource="com/ignis/model/Discount.hbm.xml"/>
        <mapping resource="com/ignis/model/SysconfigArrCustom.hbm.xml"/>
        <mapping resource="com/ignis/model/BotAudit.hbm.xml"/>
        <mapping resource="com/ignis/model/Invoice.hbm.xml"/>
        <mapping resource="com/ignis/model/RasterColumns.hbm.xml"/>
        <mapping resource="com/ignis/model/Kot.hbm.xml"/>
        <mapping resource="com/ignis/model/TaxComponentAudit.hbm.xml"/>
        <mapping resource="com/ignis/model/RasterOverviews.hbm.xml"/>
        <mapping resource="com/ignis/model/EstablishmentLayoutAudit.hbm.xml"/>
        <mapping resource="com/ignis/model/EntityAudit.hbm.xml"/>
        <mapping resource="com/ignis/model/BusinessOwner.hbm.xml"/>
        <mapping resource="com/ignis/model/BusinessOwnerEntityAudit.hbm.xml"/>
        <mapping resource="com/ignis/model/SysconfigCustomAudit.hbm.xml"/>
        <mapping resource="com/ignis/model/TaxAudit.hbm.xml"/>
        <mapping resource="com/ignis/model/KitchenMenu.hbm.xml"/>
        <mapping resource="com/ignis/model/SysconfigArr.hbm.xml"/>
        <mapping resource="com/ignis/model/BookingAudit.hbm.xml"/>
        <mapping resource="com/ignis/model/Tax.hbm.xml"/>
        <mapping resource="com/ignis/model/MemoriesAudit.hbm.xml"/>
        <mapping resource="com/ignis/model/GeometryColumns.hbm.xml"/>
        <mapping resource="com/ignis/model/KitchenMenuItemAudit.hbm.xml"/>
        <mapping resource="com/ignis/model/KitchenMenuAudit.hbm.xml"/>
        <mapping resource="com/ignis/model/SpatialRefSys.hbm.xml"/>
        <mapping resource="com/ignis/model/GeographyColumns.hbm.xml"/>
        <mapping resource="com/ignis/model/BarMenuItem.hbm.xml"/>
        <mapping resource="com/ignis/model/Review.hbm.xml"/>
        <mapping resource="com/ignis/model/BarMenuItemAudit.hbm.xml"/>
        <mapping resource="com/ignis/model/DiscountAudit.hbm.xml"/>
        <mapping resource="com/ignis/model/Session.hbm.xml"/>
        <mapping resource="com/ignis/model/InvoiceLineItem.hbm.xml"/>
        <mapping resource="com/ignis/model/Layout.hbm.xml"/>
        <mapping resource="com/ignis/model/TaxEntity.hbm.xml"/>
        <mapping resource="com/ignis/model/Customer.hbm.xml"/>
        <mapping resource="com/ignis/model/InvoiceAudit.hbm.xml"/>
        <mapping resource="com/ignis/model/TaxComponent.hbm.xml"/>
        <mapping resource="com/ignis/model/Currency.hbm.xml"/>
        <mapping resource="com/ignis/model/PromotionAudit.hbm.xml"/>
        <mapping resource="com/ignis/model/CountryNew.hbm.xml"/>
        <mapping resource="com/ignis/model/KitchenMenuItem.hbm.xml"/>
        <mapping resource="com/ignis/model/InvoiceLineItemAudit.hbm.xml"/>
        <mapping resource="com/ignis/model/BusinessOwnerEntity.hbm.xml"/>
        <mapping resource="com/ignis/model/BookingHistory.hbm.xml"/>
        <mapping resource="com/ignis/model/BusinessOwnerAudit.hbm.xml"/>
        <mapping resource="com/ignis/model/SessionAudit.hbm.xml"/>
        <mapping resource="com/ignis/model/Bot.hbm.xml"/>
        <mapping resource="com/ignis/model/CustomerAudit.hbm.xml"/>
        <mapping resource="com/ignis/model/LayoutAudit.hbm.xml"/>
        <mapping resource="com/ignis/model/Entity.hbm.xml"/>
        <mapping resource="com/ignis/model/Sysuser.hbm.xml"/>
        <mapping resource="com/ignis/model/Promotion.hbm.xml"/>
        <mapping resource="com/ignis/model/Country.hbm.xml"/>
        <mapping resource="com/ignis/model/StaffAudit.hbm.xml"/>
        <mapping resource="com/ignis/model/ReviewAudit.hbm.xml"/>
        <mapping resource="com/ignis/model/Role.hbm.xml"/>
        <mapping resource="com/ignis/model/Establishment.hbm.xml"/>
        <mapping resource="com/ignis/model/Memories.hbm.xml"/>
        <mapping resource="com/ignis/model/SysuserAudit.hbm.xml"/>
        <mapping resource="com/ignis/model/TaxEntityAudit.hbm.xml"/>
        <mapping resource="com/ignis/model/Booking.hbm.xml"/>
        <mapping resource="com/ignis/model/RatingScale.hbm.xml"/>
        <mapping resource="com/ignis/model/Staff.hbm.xml"/>
        <mapping resource="com/ignis/model/SysconfigArrCustomAudit.hbm.xml"/>
        <mapping resource="com/ignis/model/SessionCustomer.hbm.xml"/>
        <mapping resource="com/ignis/model/Sysconfig.hbm.xml"/>
        <mapping resource="com/ignis/model/SysconfigAudit.hbm.xml"/>
        <mapping resource="com/ignis/model/BarMenu.hbm.xml"/>
        <mapping resource="com/ignis/model/EstablishmentLayout.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
